body
{
    font-family: "Poppins", "sans-serif";
}

#home a
{
    font-size: 0.9rem;
    font-weight: 700;
    line-height:25px;
}
#home .navbar
{
    z-index: 99999999999999999999999999999;
}
#home .navbar .nav-tags a
{
    text-decoration: none;
    color: white;
    transition: all 0.1s ease-in;
} 
#home .navbar .nav-tags a:hover
{
    color: #CE4747;
}
#home .active
{
    color: #CE4747 !important;
}

#home .navbar-social a
{
    text-decoration: none;
    color: white;
    transition: all 0.1s ease-in;
    padding:0px 10px
}
#home .navbar-social a:hover
{
    color: #CE4747;
}
#home .img-slider1
{
    background-image: url(../images/slideshow-1.jpg) !important;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#home .img-slider2
{
    background-image: url(../images/slideshow-2.jpg) !important;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#home .img-slider3
{
    background-image: url(../images/slideshow-3.jpg) !important;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#home .carousel-caption
{
    position: absolute;
    top: 35%;
}
#home .carousel-caption h1
{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
    line-height:70px;
}

#home .carousel-container
{
    position: absolute;
    top: 50% !important;
    height: 100%;
}

#home .carousel-container .prev
{
    left: 0;
    border: 1px solid rgba(255, 255, 255, 1);
    width: 50px;
    height: 50px;
}
#home .carousel-container .next
{
    left: 0;
    height: 50px;
    width: 50px;
    z-index: 99999999999999999;
    border: 1px solid rgba(255, 255, 255, 1);
    top: 50px !important;
}

#home button div
{
    background-color: white;
    width: 101%;
    height: 101%;
    left: -100%;
    border: 1px solid rgba(255, 255, 255, 1);

    position: absolute;
    transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -ms-transition:all 1s ease;
    -o-transition:all 1s ease;
    opacity: 1 !important;
    z-index: -1;
}
#home button
{
    opacity: 1 !important;
    transition:all .8s ease;
    -webkit-transition:all .8s ease;
    -moz-transition:all .8s ease;
    -ms-transition:all .8s ease;
    -o-transition:all .8s ease;
}
#home  button:hover 
{
    color: #f25454 !important;
    z-index: 8;
}
#home button:hover div
{
    color: #f25454;
    left: 0;
    opacity: 1 !important;

}
.scroll
{
    width: 30px;
    height: 45px;
    bottom: 10%;
    left: 50%;
    z-index: 9999999999999999999;
    transform: translatex(-50%);
    border: 1px solid white;
}
#home .scroll-point
{
    width:8px;
    height:8px ;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translatex(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: scroll-point 1s infinite;
    -webkit-animation: scroll-point 1s infinite;
}
#home .scroll:hover .scroll-point
{
    background-color: #CE4747;
}

@keyframes scroll-point {
    0%{top:5% ; opacity:1;}
    25%{opacity:.75; }
    50%{opacity:.5; }
    75%{opacity:.25; }
    100%{top:40% ; opacity:.1;}
}

a .scroll
{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
a:hover .scroll

{
    border-color:#CE4747 !important;
}

#home .setting-icon
{
    height: 40px;
    width: 40px;
    top:20%;
    z-index: 999999;
    background-color:rgb(31,37,40);
}
#home .setting-icon:hover
{
    background-color:#444;;
}

/*<!------- about-section ---------> */

.title-info p
{
    color: #999;
    font-size: 1.2rem;
    font-weight: 400;
    line-height:25px;
}

#about .title-content
{
    color: #666;
    font-size: 0.8rem;
    font-weight: 400;
    line-height:25px;
}

.title-design h2
{
    font-size: 5rem;
    letter-spacing: 5px;
    color: #282828;
    opacity:0.1;
    font-weight: 600;
    line-height: 38px;
}
.title-design h3
{
    font-size: 2.5rem;
    color: #282828;
    font-weight: 800;
    line-height: 54px;
    position: absolute;
    top: 5px;
}
.line-design
{
    width:2.5rem;
    height:1px;
    position: absolute;
    background-color:#000000 ;
    bottom:-20px;
    left: 48%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.title-design:hover .line-design
{
    transform: scale(2);
    -webkit-transition: s;
    -moz-transition: s;
    -ms-transition: s;
    -o-transition: s;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

#about .progress
{
    height:5px;
    margin-bottom:15px;
}
#about .progress-title h5
{
    font-size: 0.9rem !important;
    color: #444444;
    font-weight: 600;
    line-height: 25px;
}
#about .progress-bar
{
    background-color:#CE4747 !important;
}
#about .progress-value1
{
    width: 72%;
}
#about .progress-value2
{
    width: 70%;
}
#about .progress-value3
{
    width: 52%;
}
#about .progress-value4
{
    width: 62%;
}

/*<!------- team-section ---------> */

#team .team-member h5
{
    color: #282828;;
    font-size: 1rem;
    font-weight: 600;
    line-height:20px;
}
#team .team-member span
{
    color: #666666;
    font-size: 0.9rem;
    font-weight: 400;
    line-height:25px;
}
#team .team-member .icon a
{
    text-decoration: none;
    color: white;
}

#team .team-member ul
{
    list-style-type:none;
}
#team .team-member ul li
{
    padding-right: 20px;
}

#team .team-member .team-social
{
    opacity:0;
}
#team .team-member:hover .team-social
{
    opacity:1;
    background-color: rgba(242, 84, 84, 0.85);
}

#team .team-member .team-img
{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#team .team-member:hover .team-img
{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#team .team-member h5
{
    transition: all 0.5s ease;
}

#team .team-member:hover h5
{
    color: rgba(242, 84, 84, 0.85);
}
#team .box-contact a
{
    text-decoration: none;
    color: white;
    padding:15px 20px ;
    background-color: rgba(242, 84, 84, 0.85);
    transition: all 0.1s ease-in;
}

#team .box-contact :hover
{
    background-color: #f38383;
} 

/*<!------- services-section ---------> */
#services .service-contact h3
{
    color: #282828;
    font-size: 1.2rem;
    font-weight: 600;
    line-height:32px;
    transition: all 0.1s ease-in;
}
#services .service-contact h3:hover
{
    color: #CE4747;
}

#services .title-info p
{
    font-size: 1rem;
}

#services .service-contact p
{
    color:#666;
    font-size: 0.8rem;
    font-weight: 400;
    line-height:25px;
}
#services .service-icon
{
    color: #f25454;
}

#services
{
    background-color:#FAFAFA;
}

/*<!------- clint-section ---------> */


.client-img button
{
    border: none;
    background-color: transparent;

}
.client-img .nav-pills .nav-link, .nav-pills .show>.nav-link 
{
    transition: .5s;
    opacity: .7;
    background-color: transparent;
    padding: 0;
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}
.client-img .nav-pills .nav-link.active, .nav-pills .show>.nav-link 
{
    transition: .5s;
    opacity: 1;
    background-color: transparent;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.client-img .nav-item
{
    width: 120px;
    height: 120px;
    margin-bottom: 4rem;
}
.client-img img
{
    width: 100%;
}

.client-img .nav-pills .nav-link.active::before, .nav-pills .show>.nav-link::before 
{
    content: "John Doe";
    color: #282828;
    position: absolute;
    font-size: 25px;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    top:110%;
    left: -70%;
    width: 300px;
}

.client-img .nav-pills .nav-link.active::after, .nav-pills .show>.nav-link::after 
{
    content: "From Egypt";
    color: #666;
    position: absolute;
    font-size: 15px;
    font-family:"Poppins", sans-serif;
    font-weight: 300;
    top:140%;
    left: -70%;
    width: 300px;
}

.client-img p
{
    font-size: 25px;
    color: #666;
}

/*<!----------- contact-section ---------> */
#contact h3
{
    color:#282828;
    font-size: 1.5rem;
    font-weight: 600;
    line-height:32px;
    padding-bottom: 2rem;
}
#contact h4
{
    color:#282828;
    font-size: 1.1rem;
    font-weight: 600;
    line-height:24px;
    transition: all 0.1s ease-in;
}
#contact h4:hover
{
    color: #CE4747;
}

#contact .contact-info p
{
    color:#666666;
    font-size: 0.9rem;
    font-weight: 400;
    line-height:25px;
}

#contact .contact-icon
{
    color: #CE4747;
}

#contact .contact-box
{
    border-bottom: 1px solid #EEEEEE;
}
#contact .contact-box:last-child
{
    border-bottom: none;
}

#contact .form-control
{
    padding: 15px;
}

#contact .form-control:focus
{
    border-color: #CE4747;
    box-shadow: none;
}

#contact  a
{
    text-decoration: none;
    color: white;
    padding:15px 25px ;
    background-color: #CE4747;
    transition: all 0.1s ease-in;
}

#contact a:hover
{
    background-color: #f38383;
} 

#footer .layout
{
    background-image: url(../images/dotted-map.png);
    background-size: contain;
    background-color: #222;
    position: relative;
}

#footer .footer-title ul
{
    list-style-type:none;
    padding-left: 0px !important;
}


#footer a
{
    text-decoration: none;
    color: #444;
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
}

#footer  a:hover
{
    color: #CE4747;
} 

#footer .footer-title  .footer-tags a
{
    color: #444;
    padding:2px 8px;
    margin: 3px 5px !important;
    border: 1px solid white ;
    transition: all 0.1s ease-in;
}
#footer .footer-title .footer-tags a:hover
{
    color:#CE4747;
    border:1px solid #CE4747 !important;
}

#footer .footer-bg
{
    background-color: #1a1a1a;
}

#footer h5
{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    line-height:20px;
}
#footer P
{
    color:#444;
    font-size: 1rem;
    font-weight: 400;
    line-height:25px;
}

#footer .to-top
{
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    color: #fff;
    font-size: 1.2rem;
    transform: translatex(-50%);
    left:50%;
    top: -25;
    background-color:#f38383;
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}

#footer .to-top:hover
{
    background-color:#CE4747;
}




